<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>AjouterFicheDeVoeux</servlet-name>
		<display-name>AjouterFicheDeVoeux</display-name>
		<description></description>
		<servlet-class>Controller.AjouterFicheDeVoeux</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSujet</servlet-name>
		<display-name>GetSujet</display-name>
		<description></description>
		<servlet-class>Controller.GetSujet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>Controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSujetC</servlet-name>
		<display-name>GetSujetC</display-name>
		<description></description>
		<servlet-class>Controller.GetSujetC</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeSujet</servlet-name>
		<display-name>ListeSujet</display-name>
		<description></description>
		<servlet-class>Controller.ListeSujet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProposerSujet</servlet-name>
		<display-name>ProposerSujet</display-name>
		<description></description>
		<servlet-class>Controller.ProposerSujet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Etudiant</servlet-name>
		<display-name>Etudiant</display-name>
		<description></description>
		<servlet-class>Controller.EtudiantController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeEnseignant</servlet-name>
		<display-name>ListeEnseignant</display-name>
		<description></description>
		<servlet-class>Controller.ListeEnseignant</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgentController</servlet-name>
		<display-name>AgentController</display-name>
		<description></description>
		<servlet-class>Controller.AgentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<display-name>Deconnexion</display-name>
		<description></description>
		<servlet-class>Controller.Deconnexion</servlet-class>
	</servlet>
	<servlet>

		<servlet-name>ModifierFiche</servlet-name>
		<display-name>ModifierFiche</display-name>
		<description></description>
		<servlet-class>Controller.ModifierFiche</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EnseignantControler</servlet-name>
		<display-name>EnseignantControler</display-name>
		<description></description>
		<servlet-class>Controller.EnseignantControler</servlet-class>

		<servlet-name>AffectationSujet</servlet-name>
		<display-name>AffectationSujet</display-name>
		<description></description>
		<servlet-class>Controller.AffectationSujet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>AjouterFicheDeVoeux</servlet-name>
		<url-pattern>/AjouterFicheDeVoeux</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSujet</servlet-name>
		<url-pattern>/GetSujet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeSujet</servlet-name>
		<url-pattern>/ListeSujet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProposerSujet</servlet-name>
		<url-pattern>/ProposerSujet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Etudiant</servlet-name>
		<url-pattern>/EtudiantController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeEnseignant</servlet-name>
		<url-pattern>/ListeEnseignant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgentController</servlet-name>
		<url-pattern>/AgentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>

		<servlet-name>ModifierFiche</servlet-name>
		<url-pattern>/ModifierFiche</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnseignantControler</servlet-name>
		<url-pattern>/EnseignantControler</url-pattern>
	</servlet-mapping>

		<servlet-name>AffectationSujet</servlet-name>
		<url-pattern>/AffectationSujet</url-pattern>
	</servlet-mapping>



	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>



</web-app>
